---
Language: Cpp
BasedOnStyle: Chromium
AccessModifierOffset: -4
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Pointer
ReflowComments: true
SortUsingDeclarations: false
SpacesInContainerLiterals: false
Standard: c++20
