[submodule "vcpkg"]
	path = external/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
