# Generated project files
include/arg_router/version.hpp

# Death test main (modified by tests)
test/death_test/main.cpp

# Generated docs
docs/doxygen
docs/README_API.md

# IDE cruft
build/
*.creator.user
*.txt.user
.vscode/
.vs/
target/
CMakeSettings.json
