# Death test main (modified by tests)
test/death_test/main_*.cpp

# Generated docs
docs/doxygen
docs/README_API.md

# IDE cruft
build/
out/
*.creator.user
*.txt.user
.vscode/
.vs/
target/
CMakeSettings.json
.cache/
