# This workflow publishes a release when a version tag is pushed
name: Release Builder

on:
  push:
    tags:
    - 'v*'

env:
  BUILD_DIR: ${{ github.workspace }}/build
  TAG_VERSION: ${{ github.ref }}

jobs:
  create_release:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 1

    - name: Get commit message and percent-encode
      id: commit_msg
      run: |
        MSG=$(git show -s --format=%s%n%n%b $(git log -2 --pretty=%H | tail -n 1))
        echo $MSG
        MSG="${MSG//'%'/'%25'}"
        MSG="${MSG//$'\n'/'%0A'}"
        MSG="${MSG//$'\r'/'%0D'}"
        echo "commit_msg=${MSG}" >> $GITHUB_OUTPUT

    - name: Build release
      run: |
        mkdir -p ${{ env.BUILD_DIR }}
        cd ${{ env.BUILD_DIR }}
        cmake ${{ github.workspace }} -DINSTALLATION_ONLY=ON
        cmake --build . --target package

    - name: Check versions match
      id: version_check
      run: |
        cd ${{ env.BUILD_DIR }}
        VERSION=`cut -c 12- <<< "${{ env.TAG_VERSION }}"`
        FILENAME="arg_router-${VERSION}"
        test -e ${FILENAME}.zip
        echo "filename=${FILENAME}" >> $GITHUB_OUTPUT

    - name: Test Deb install
      run: |
        cd ${{ env.BUILD_DIR }}
        sudo apt install ./${{ steps.version_check.outputs.filename }}.deb
        test -e /usr/include/arg_router
        sudo apt remove arg_router
        ! test -e /usr/include/arg_router

    - name: Create GitHub release entry
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG_VERSION }}
        release_name: arg_router ${{ env.TAG_VERSION }}
        draft: false
        prerelease: false
        body: ${{ steps.commit_msg.outputs.commit_msg }}

    - name: Upload zip
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{steps.create_release.outputs.upload_url}}
        asset_path: ${{ env.BUILD_DIR }}/${{ steps.version_check.outputs.filename }}.zip
        asset_name: ${{ steps.version_check.outputs.filename }}.zip
        asset_content_type: application/zip

    - name: Upload deb
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{steps.create_release.outputs.upload_url}}
        asset_path: ${{ env.BUILD_DIR }}/${{ steps.version_check.outputs.filename }}.deb
        asset_name: ${{ steps.version_check.outputs.filename }}.deb
        asset_content_type: application/vnd.debian.binary-package
